internal/
data/
metastore_db/
cluster_launch/
flaskapp/*.pyc
flaskapp/**/*.pyc
lib/*.pickle
lib/__pycache__
src/**/*.pyc
src/**/*.pickle
src/**/*.json
src/**/__pycache__
src/batch_processing/spark_warehouse
_spark_streaming_checkpoint/
src/stream_processing/_spark_streaming_checkpoint
