internal/
data/
*.scala
src/**/*.pickle
_spark_streaming_checkpoint/
metastore_db/
src/ingestion/*.json
src/preprocess/__pycache__
src/stream_processing/_spark_streaming_checkpoint
lib/*.pickle
lib/__pycache__
src/batch_processing/spark_warehouse
src/config/__pycache__
src/stream_processing/__pycache__
src/batch_processing/__pycache__
src/**/*.pyc
