{% extends "base.html" %}
{% block staleChecker_info %}
 <h1 class="page-header">{{ news['headline'] }}</h1>

 <div class="news-content">
   <p>
     {{news['timestamp']}},
     {% for tag in news['tag_company'] %}
       <a class="tag_link" href="/tag/{{tag}}">{{ tag }} </a>
     {% endfor %}
   </p>
   <p>
     {{news['body']}}
   </p>
 </div>

 <div>
   <p> -------------------------------</p>
   <h3> Similar news in the past </h3>
   <div class="table-responsive">
     <table class="table table-striped">
       <thead>
         <tr>
           <th>Similarity Score</th>
           <th>Timestamp</th>
           <th>News Headline</th>
           <!-- <th>No. Similar News</th> -->
           <th>Tags</th>
         </tr>
       </thead>
       <tbody>
         {% for dup in news['dupCandDetails'] %}
           <tr>
             <td> {{ dup["sim_score"]}} </td>
             <td> {{ dup["timestamp"] }} </td>
             <td> <a class="news_link" href="/news/{{dup['id']}}">{{ dup["headline"] }}</a></td>
             <!-- <td> {{ dup["numDups"] }} </td> -->
             <td>
               {% for tag in dup["tag_company"] %}
                 <a class="tag_link" href="/tag/{{tag}}">{{ tag }} </a>
               {% endfor %}
             </td>
           </tr>
         {% endfor %}
       </tbody>
     </table>
   </div>
 </div>

<script type="text/javascript">
  $("a.so_link").on("click",function(){
         window.open($(this).attr("href");,"_blank");
     });

  setTimeout(function () { location.reload(1); }, 5000);
</script>

{% endblock %}
