{% extends "base.html" %}
{% block staleChecker_info %}
<h1 class="page-header">Duplicate Question Candidate Clusters</h1>

<div class="row placeholders">
	<div class="col-xs-6 col-sm-12 placeholder">
	  <!-- <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail"> -->
	  <span class="text-muted">Hover to view tag</span>
	  <br>
	  <span class="text-muted">Click to go to question's Stack Overflow page</span>

	</div>
</div>

<div class="vis-main"></div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

<script>

var width = 800;
var height = 700;
var radius = 0.005;


d3.json("/static/data/graph_test.json", function (data) {
    var links = data;
    var nodes = {};
    // parse links to nodes
    links.forEach(function (link) {
        link.source = nodes[link.source] ||
            (nodes[link.source] = {name: link.source});
        link.target = nodes[link.target] ||
            (nodes[link.target] = {name: link.target});
        link.cycle = link.cycle;
    });

    // Add SVG
    var svg = d3.select(".vis-main").append('svg')
        .attr('width', width)
        .attr('height', height);


    var force = d3.layout.force()
        .size([width, height])
        .nodes(d3.values(nodes))
        .links(links)
        .on("tick", tick)
        .linkDistance(15)
        .start();


    var link = svg.selectAll('.link')
        .data(links)
        .enter().append('line')
        .attr('class', 'link');


    if(link.cycle == true) {
        link.attr('class', 'cycle_link');
    }


    var node = svg.selectAll('.blue_node')
        .data(force.nodes())
        .enter().append('circle')
        .attr('class', 'blue_node')
        .attr('r', width * radius);


    function tick(e) {
        node.attr('cx', function (d) {return d.x;})
            .attr('cy', function (d) {return d.y;})
            .call(force.drag);
        link.attr('x1', function (d) {return d.source.x;})
            .attr('y1', function (d) {return d.source.y;})
            .attr('x2', function (d) {return d.target.x;})
            .attr('y2', function (d) {return d.target.y;})
    }

});
</script>

{% endblock %}
